@using ProductApp.Models
@{
    ViewBag.Title = "Products list";
    var products = (List<Product>) ViewBag.Products;
}

<h2>List of products</h2>

<ul>
    @foreach (var product in products)
    {
        <li>
            <a href="~/Product/Details/@product.Id">@product.Name</a>
        </li>
    }
</ul>
