################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Module2_Lab2/ProductApp/packages
/Module2_Lab2/ProductApp/ProductApp/bin
/Module2_Lab2/ProductApp/ProductApp/obj/Debug
/Module2_Lab2/ProductApp/.vs
/Module3_Lab1/StudentsApplication/.vs
/Module3_Lab1/StudentsApplication/packages
/Module3_Lab1/StudentsApplication/StudentsApplication/bin
/Module3_Lab1/StudentsApplication/StudentsApplication/obj/Debug
/Module3_Lab1/StudentsApplication/StudentsApplication.Cache/bin/Debug
/Module3_Lab1/StudentsApplication/StudentsApplication.Cache/obj/Debug
/Module3_Lab2/StudentAuthApplication/.vs
/Module3_Lab2/StudentAuthApplication/packages
/Module3_Lab2/StudentAuthApplication/StudentAuthApplication/bin
/Module3_Lab2/StudentAuthApplication/StudentAuthApplication/obj/Debug
/Module3_Lab2/StudentAuthApplication/StudentAuthApplication.Cache/bin/Debug
/Module3_Lab2/StudentAuthApplication/StudentAuthApplication.Cache/obj/Debug
/Module4_Lab2/AcademyApplication/.vs
/Module4_Lab2/AcademyApplication/AcademyApplication/bin
/Module4_Lab2/AcademyApplication/AcademyApplication/obj/Debug
/Module4_Lab2/AcademyApplication/packages
