@using(Ajax.BeginForm(
    "Search",
    "Students",
    new AjaxOptions
    {
        InsertionMode = InsertionMode.Replace,
        HttpMethod = "GET",
        LoadingElementId = "ajax-loader",
        UpdateTargetId = "studentsList"
    }))
{
    <div class="form-group">
        <label class="control-label col-md-2">Search criteria: </label>
        <div class="col-md-10">
            <input type="text" name="searchCriteria" class="form-control" />
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Search" class="btn btn-default" />
        </div>
    </div>
    <img id="ajax-loader"
         src="~/Content/Images/ajax-loader.gif"
         style="display:none" />
}